body {
  text-align: center;
  background-image: url('perroPaisaje.jpeg');
  background-size: cover;
}

h1 {
  color: black;
  font-size: 40px;
  font-family: Arial-black;
  text-align: center;
}

p.p1 {
  font-size: 20px;
}
