body {
  margin-top: 70px;
  text-align: center;
  background-image: url('perroPaisaje.jpeg');
  background-size: cover;
}

label.l1{
  border-color: black;
  margin-top: 20px;
  margin-right: 20px;
}
